<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>公共底部</title>
</head>
<body>
<!--<footer th:fragment="footer">-->
<!--    <div class="container-fluid">-->
<!--        <div class="row">-->
<!--            <div class="col-md-12 col-sm-12" style="text-align: center;">-->
<!--                <p>-->
<!--                    Copyright&nbsp;©&nbsp;2018-xxxx&nbsp;&nbsp;www.cycong.com&nbsp;&nbsp;蜀ICP备13014270号-4-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->
<!--<footer class="footer" th:fragment="footer">-->
    <!--<div class="container">-->
        <!--<p class="text-muted">Copyright&nbsp;©&nbsp;2018-xxxx&nbsp;&nbsp;www.cycong.com&nbsp;&nbsp;蜀ICP备13014270号-4</p>-->
    <!--</div>-->
<!--</footer>-->
<footer class="blog-footer" th:fragment="footer">
    <p>Copyright&nbsp;©&nbsp;2019-xxxx&nbsp;&nbsp;www.cycong.com&nbsp;&nbsp;蜀ICP备13014270号-4</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>
<!--<footer class="footer mt-auto py-3" th:fragment="footer" style="height: 60px;background-color: #f5f5f5;">-->
    <!--<div class="container-fluid" style="text-align: center;">-->
        <!--<span class="text-muted"></span>-->
    <!--</div>-->
<!--</footer>-->
</body>
</html>