<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>博客管理</title>
    <div th:replace="~{common/baseimport :: baseimport}"></div>
    <link rel="stylesheet" th:href="@{/css/security/common/article-list.css}">
</head>
<script type="application/javascript">
    // $(function(){
    //     $('#myTabs a').click(function (e) {
    //         e.preventDefault()
    //         $(this).tab('show')
    //     })
    // })
</script>

<body>
<div th:replace="~{common/header :: header}"></div>
<main role="main" class="flex-shrink-0">
    <div class="container" style="margin-top: 10px">
       <div class="row">
           <div class="col-sm-12 col-md-3">
               <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                   <div class="panel panel-default">
                       <div class="panel-heading" role="tab" id="headingOne">
                           <h4 class="panel-title">
                               <a href="/edit">
                                   写博客
                               </a>
                           </h4>
                       </div>
                   </div>
                   <div class="panel panel-default">
                       <div class="panel-heading" role="tab" id="headingTwo">
                           <h4 class="panel-title">
                               <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                   文章管理<span class="caret"></span>
                               </a>
                           </h4>
                       </div>
                       <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                           <ul class="list-group" id="article-type">
                               <li class="list-group-item">全部</li>
                               <li class="list-group-item" articleType="0">公开</li>
                               <li class="list-group-item" articleType="1">私密</li>
                           </ul>
                       </div>
                   </div>
                   <div class="panel panel-default">
                       <div class="panel-heading" role="tab" id="headingThree">
                           <h4 class="panel-title">
                               <a>
                                   分类管理
                               </a>
                           </h4>
                       </div>
                   </div>
                   <div class="panel panel-default">
                       <div class="panel-heading" role="tab" id="headingFour">
                           <h4 class="panel-title">
                               <a href="javascript:void(0)">
                                   我的收藏
                               </a>
                           </h4>
                       </div>
                   </div>
               </div>
           </div>
           <div class="col-sm-12 col-md-9">
               <div id="result">
<!--                   <div th:replace="~{security/common/article-list :: article-list}"></div>-->
                   <div th:replace="~{security/common/collect :: collect}"></div>
               </div>
               <div id="paging">

               </div>
           </div>
       </div>
    </div>
</main>
<div th:replace="~{common/footer :: footer}"></div>
</body>
<script th:src="@{/js/security/manage.js}"></script>
<script th:src="@{/js/security/common/article-list.js}"></script>
<script th:src="@{/js/security/common/collect.js}"></script>
<script type="text/javascript" th:src="@{/js/common/paging.js}"></script>
</html>