<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:fragment="article-list">
    <div class="list-group" id="article-show">
        <div class="list-group-item">
            <h3 class="list-group-item-heading"><a style="text-decoration:none">List group item heading</a></h3>
            <div class="article-list">
                <div class="article-attribute">
                    <span style="">2019-12-04 09:16</span>
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>123
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>5646
                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>987
                </div>
                <div class="article-option">
                    <div>
                        <select class="form-control">
                            <option><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>公开</option>
                            <option><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>隐藏</option>
                        </select>
                    </div>
                    <div>
                        <a href=""><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>顶置</a>
                        <a href=""><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>编辑</a>
                        <a href=""><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>删除</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>