<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:fragment="article-list">
    <div class="list-group">
        <div class="list-group-item">
            <h3 class="list-group-item-heading"><a style="text-decoration:none">List group item heading</a></h3>
            <div class="row">
                <div class="col-sm-8 col-md-9">
                    <span style="display: inline-block;height:45px;line-height: 45px;margin: 0 4px 0;">2019-12-04 09:16</span>
                    <span style="height: 45px;line-height: 45px;margin-right: 4px;margin-left: 4px;" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>123
                    <span style="height: 45px;line-height: 45px;margin-right: 4px;margin-left: 4px;" class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>5646
                    <span style="height: 45px;line-height: 45px;margin-right: 4px;margin-left: 4px;" class="glyphicon glyphicon-comment" aria-hidden="true"></span>987
                </div>
                <div class="col-sm-8 col-md-3">
                    <a href="" style="text-decoration:none;"><span style="margin-left: 35px;" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>顶置</a>
                    <a href="" style="text-decoration:none;"><span style="margin-left: 35px;" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>公开</a>
                    <a href="" style="text-decoration:none;"><span style="margin-left: 35px;" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>隐藏</a>
                    <a href="" style="text-decoration:none;"><span style="margin-left: 35px;" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>查看</a>
                    <a href="" style="text-decoration:none;"><span style="margin-left: 35px;" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>删除</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>