<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文章详情</title>
    <div th:replace="~{common/baseimport :: baseimport}"></div>
    <link rel="stylesheet" th:href="@{/css/details.css}">
    <link rel="stylesheet" th:href="@{/editor/css/editormd.css}"/>
    <script th:src="@{/editor/lib/marked.min.js}"></script>
    <script th:src="@{/editor/lib/prettify.min.js}"></script>
    <script th:src="@{/editor/lib/raphael.min.js}"></script>
    <script th:src="@{/editor/lib/underscore.min.js}"></script>
    <script th:src="@{/editor/lib/sequence-diagram.min.js}"></script>
    <script th:src="@{/editor/lib/flowchart.min.js}"></script>
    <script th:src="@{/editor/lib/jquery.flowchart.min.js}"></script>
    <script th:src="@{/editor/js/editormd.js}"></script>
</head>
<script type="application/javascript">

</script>

<body>
<div th:replace="~{common/header :: header}"></div>
<main role="main" class="flex-shrink-0">
    <div class="container" style="margin-top: 10px">
        <div class="row">
            <div th:replace="~{common/homebase :: homebase}"></div>
            <div class="col-sm-12 col-md-9">
                <div class="page-header" id="article-info">

                </div>
                <!--文章内容-->
                <div id="article-content">
                    <textarea style="display:none;" placeholder="markdown语言"></textarea>
                </div>
                <div id="article-comment">
                    <div id="reply-content">
                        <textarea class="form-control" rows="3"></textarea>
                        <button>发表评论</button>
                    </div>
                    <div id="comment-content">
                        <div class="row">
                            <div class="col-sm-2 col-md-2">
                                <a href="/home/1">
                                    <img src="http://5b0988e595225.cdn.sohucs.com/q_70,c_zoom,w_640/images/20180806/9425645d47cd4f8e9c11fc6a9959340a.jpeg" alt="请娶你的快递" class="img-circle" style="width: 40%;height: 40%;"/>
                                </a>
                            </div>
                            <div class="col-sm-10 col-md-10">

                            </div>
                        </div>
                    </div>
                    <div id="paging">

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:replace="~{common/footer :: footer}"></div>
</body>
<script type="text/javascript" th:src="@{/js/direct/details.js}"></script>
<script type="text/javascript" th:src="@{/js/common/homebase.js}"></script>
</html>